@font-face {
    font-family: 'ArmedBanana';
    font-style: normal;
    font-weight: normal;
    src: local('ArmedBanana'),
        url('https://raw.githubusercontent.com/davidsansome/tsurukame/master/www/fonts/armed-banana.ttf') format('truetype');
}