@font-face {
    font-family: 'FC-Flower';
    font-style: normal;
    font-weight: normal;
    src: local('FC-Flower'),
        url('https://raw.githubusercontent.com/davidsansome/tsurukame/master/www/fonts/fc-flower.ttf') format('truetype');
}