@font-face {
    font-family: 'San Chou Me';
    font-style: normal;
    font-weight: normal;
    src: url('https://raw.githubusercontent.com/davidsansome/tsurukame/master/www/fonts/san-chou-me.ttf') format('truetype');
}