@font-face {
    font-family: 'santyoume-font';
    font-style: normal;
    font-weight: normal;
    src: local('santyoume-font'),
        url('https://raw.githubusercontent.com/davidsansome/tsurukame/master/www/fonts/san-chou-me.ttf') format('truetype');
}